<footer class="app-footer">
    <div class="col-md-12 text-right">
        <span class="small text-secondary">
            ASP.NET Core 2.1 with <a href="https://blazor.net/">Blazor </a>© 2018 Microsoft,
        </span><span class="small text-secondary">
            <a href="https://coreui.io">CoreUI</a>
            © 2018 creativeLabs.
        </span>
    </div>
</footer>