@page "/logout"
@layout MainLayout

@inject NavigationManager NavigationManager
@inject AccountService AccountService
@inject SessionService SessionService
@inject AvatarService AvatarService

<p>ログアウトしました。</p>

@code 
{
    protected override async Task OnInitializedAsync()
    {
        await SessionService.LogoutAsync();
        await AccountService.GetUserInfomationAsync();
        await AvatarService.GetMyAvatarAsync();

        await base.OnInitializedAsync();
    }
}
