@page "/"

@layout MainLayout

<div class="card">
    <div class="card-header">
        Hello, world!
    </div>
    <div class="card-body">
        <p>Welcome to your new app.</p>
    </div>
</div>

@functions
{

}