@page "/"

@layout MainLayout

<div class="card">
    <div class="card-header">
        BlazorTemplete
    </div>
    <div class="card-body">
        <p>Blazorのテストアプリケーションです。ユーザー登録と認証が動作します。</p>
    </div>
</div>

@functions
{

}