@inject SessionService SessionService
@inject AccountService AccountService
@inject AvatarService AvatarService
@inject NavigationManager NavigationManager
@implements IDisposable
@using Sotsera.Blazor.Toaster

@if (IsLogin)
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <button class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <MyAvatarSmall />
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header">
                    <h5>@UserName</h5>
                </div>

                <a class="dropdown-item" onclick=@LogoutAccount()>
                    <i class="icon-logout"></i> ログアウト
                </a>

            </div>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item px-3">
            <a class="nav-link" href="./login">ログイン</a>
        </li>
    </ul>
}


@functions
{
    bool IsLogin { get; set; } = false;
    string UserName { get; set; } = "";
    string Avatar { get; set; }

    [Inject]
    protected IToaster Toaster { get; set; }

    async Task LogoutAccount()
    {
        await SessionService.LogoutAsync();
        await AccountService.GetUserInfomation();
        await AvatarService.GetMyAvatarAsync();
        Toaster.Success("ログアウトしました。");

        NavigationManager.NavigateTo("/");
    }

    protected override void OnInitialized()
    {
        AccountService.UserNameChanged += OnUserNameChanged;
        AvatarService.AvatarChanged += OnAvatarChanged;

        base.OnInitialized();
    }


    protected void OnUserNameChanged(object sender, string username)
    {
        UserName = username;
        StateHasChanged();
    }

    protected void OnAvatarChanged(object sender, string avatar)
    {
        Avatar = avatar;
        StateHasChanged();
    }

    public void Dispose()
    {
        AccountService.UserNameChanged -= OnUserNameChanged;
        AvatarService.AvatarChanged -= OnAvatarChanged;
    }
}
