@using Sotsera.Blazor.Toaster;
@using System.IO;
@using Tewr.Blazor.FileReader;

@inject AvatarService AvatarService
@inject IFileReaderService FileReaderService

<input type="file" @ref="@inputTypeFileElement" />
<button @onclick="@ReadFile">アバターの変更</button>

@code
{
    ElementReference inputTypeFileElement;

    [Inject]
    protected IToaster Toaster { get; set; }

    public async Task ReadFile()
    {
        var file = FileReaderService.CreateReference(inputTypeFileElement).EnumerateFilesAsync().Result.FirstOrDefault();
        var fileInfo = await file.ReadFileInfoAsync();
        byte[] buffer = null;

        using (MemoryStream memoryStream = await file.CreateMemoryStreamAsync(4096))
        {
            buffer = new byte[memoryStream.Length];
            memoryStream.Read(buffer, 0, (int)memoryStream.Length);
        }

        if (buffer == null)
        {
            return;
        }
        var result = await AvatarService.UpdateAsync(buffer, fileInfo);

        if (!result)
        {
            Toaster.Error("アバターの更新に失敗しました。");
            return;
        }

        await AvatarService.GetMyAvatarAsync();
        Toaster.Success("アバターが更新されました。");

        StateHasChanged();
    }
}
