@using Sotsera.Blazor.Toaster;
@using System.IO;
@using Blazor.FileReader;
@inject HttpClient Http
@inject SessionService SessionService
@inject AccountService AccountService
@inject AvatarService AvatarService
@inject IFileReaderService FileReaderService
@implements IDisposable

<style>
    .my-avatar-large {
        display: inline-block;
        background-color: #ccc;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 5px;
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        background-size: cover;
        border-radius: 50px;
    }
</style>

<div class="avatar-container">
    <span class="my-avatar-large" style="background-image: url('@AvatarImage')"></span>
</div>


@code
{
    string AvatarImage { get; set; }

    protected override Task OnInitializedAsync()
    {
        AvatarService.AvatarChanged += OnAvatarChanged;
        AvatarImage = AvatarService.MyAvatar;
        return base.OnInitializedAsync();
    }

    protected void OnAvatarChanged(object sender, string avatar)
    {
        AvatarImage = avatar;
        StateHasChanged();
    }

    public void Dispose()
    {
        AvatarService.AvatarChanged -= OnAvatarChanged;
    }
}
