@using Sotsera.Blazor.Toaster
@inherits LayoutComponentBase

@inject HttpClient Http
@inject SessionService SessionService
@inject AccountService AccountService
@inject AvatarService AvatarService

<RegionHeader />

<div class="app-body">

    <RegionSideBar />

    <main class="main">
        <RegionBreadCrumb />
        <div class="container-fluid">
            <div class="animated fadeIn">
                @Body
            </div>
        </div>
    </main>
    <!-- <RegionAsideMenu /> -->
</div>

<RegionFooter />
<ToastContainer />

@functions
{
    [Inject]
    protected IToaster Toaster { get; set; }

    protected override async Task OnInitAsync()
    {
        var result = await SessionService.ValidateCookie(Http);

        if (result)
        {
            await AccountService.GetUserInfomation(Http);
            await AvatarService.GetMyAvatar(Http);

            Toaster.Success("自動ログインしました。");
        }
        StateHasChanged();
    }
}