@inherits LayoutComponentBase

@using Sotsera.Blazor.Toaster
@using BlazorTemplate.Client.Components
@using Microsoft.AspNetCore.Components.Authorization

@inject SessionService SessionService
@inject AccountService AccountService
@inject AvatarService AvatarService

<RegionHeader />

<div class="app-body">

    <RegionSideBar />

    <main class="main">
        <RegionBreadCrumb />
        <div class="container-fluid">
            <div class="animated fadeIn">
                @Body
            </div>
        </div>
    </main>
    <!-- <RegionAsideMenu /> -->
</div>

<RegionFooter />
<ToastContainer />

@code
{
    [Inject]
    protected IToaster Toaster { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await AutoLoginAsync();
        await base.OnInitializedAsync();
    }

    protected async Task AutoLoginAsync()
    {
        // ローカル検証
        var result = await SessionService.VerifyAsync();
        if (!result) return;

        // リモート検証
        result = await SessionService.ValidateAsync();
        if (!result) return;

        await AccountService.GetUserInfomationAsync();
        await AvatarService.GetMyAvatarAsync();

        Toaster.Success("自動ログインしました。");
    }
}